.title{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
    display: inline-block;
}

.buttons {
    width: 10%;
    padding: 10px;
    margin: 10px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
    text-align: center;
}